In [1]:
import pandas as  pd
import matplotlib.pyplot as plt

In [3]:

df = pd.read_csv("world_population.csv")
df.head()

  Country Name Country Code  Year    Value
0        Aruba          ABW  1960  54922.0
1        Aruba          ABW  1961  55578.0
2        Aruba          ABW  1962  56320.0
3        Aruba          ABW  1963  57002.0
4        Aruba          ABW  1964  57619.0

In [ ]:
# Use this if you havent downloaded the data in your Laptop

url = "https://datahub.io/core/population/_r/-/data/population.csv"
df = pd.read_csv(url)
df.head()